name: CI/CD CliniQ

on:
  push:
    branches: [ main ]

jobs:
  # Étape 1 : Exécution des tests (La barrière de sécurité)
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install dependencies
        run: |
          pip install -r backend/requirements.txt
          
      - name: Run Backend Tests
        # On définit des variables d'env bidon pour que les tests ne crash pas
        env:
          DATABASE_URL: sqlite:///:memory:
          SECRET_KEY: test_secret_key_123
        run: pytest backend/tests/

  # Étape 2 : Build et Push sur Docker Hub (Uniquement si les tests passent)
  build-and-push:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cliniq-backend:latest

      - name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cliniq-frontend:latest